<div id="add-gift-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Add Gift</h3>
      </div>
      <div class="modal-body">
        <% @gift = Gift.new %>
        <%= render 'gifts/form'%>
      </div>
    </div>
  </div>
</div>