/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

 body{
    background-image: url("background.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 75px;
    
}

a{
    text-decoration:none;
}

.modal{
    position:absolute;
    right:12.5%;
    left: 15%;
}

@media screen and (min-width: 768px){
    .modal:before{
        display: inline-block;
        vertical-align: middle;
        height: 100%;
    }
}

.modal-dialog{
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

#add-gift-modal, #edit-gift-modal, #edit-person-modal{
    min-height: 300%;
}

#person-header > h2{
    display:inline-block;
}


tbody {
    display:block;
    height:300px;
    overflow:auto;
}

thead, tbody tr{
    display:table;
    width:100%;
    table-layout:fixed;
}

thead{
    width: calc(100% - 1em)
}

.navbar{
    min-height: 65px;
}

.navbar-toggle{
    margin-top:15px;
}